html {
  background-image: url("../img/background.jpg");
}

body, html {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  display: grid;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

#center {
  margin: auto;
text-align: center;
width: 100%;

}

#options {
  width: 100%;
  position: absolute;
  z-index: 99;
  top: 0%;
  left: 0%;
  background: rgba(123, 141, 150, 0.97);
  border-radius: 10px;
  color: #eeeeee;
  transition: opacity 0.6s;
}

/* Larger screens get smaller options box */
@media only screen and (min-width: 1024px) {
  #options {
      width: 60%;
      left: 20%;
  }
}

/* Trying out smaller options box for desktop */
@media only screen and (min-width: 1024px) {
  #options {
      width: 25%;
      top: 2%;
      left: 2%;
  }
}

#optionsContainer {
  margin: 0 10px;
}

#optionsContainer h1 {
  padding: 0px;
  margin: 5px 0px;
}

#optionsClose, #ssClose {
  position: absolute;
  right: 2%;
  top: 2%;
  font-size: 1.5rem;
  cursor: pointer;
}

#ssClose {
  right: 5%;
}

#optionsClose {
  padding-right: 2%;
}

#opTextShadows {
  padding: 0px !important;
  margin: 0px !important;
}

#opTextShadowsInputs {
  padding: 0px !important;
  margin: 0px !important;
}



input[type='number'] {
  width: 35px;
  padding: 5px 5px !important;
}

input, select {
    padding: 5px 5px !important;
    background: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 2px;
}
input:hover, select:hover {
  background: rgba(255, 255, 255, 0.5);
  transition: background 0.5s;
}

#screenshots {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.65);
  color: #FFFFFF;
  padding: 0px 2%;
  overflow-y: scroll;
}

.screenshot {
  width: 90%;
  max-width: 90%;
  height: auto;
  margin-left: 5%;
  margin-top: 15px;
}

#screenshotsButton {
  transition: background 1.8s !important;
}



.ssButtonNew {
  background: #d0bc06 !important;
}

canvas {
  max-width: 100%;
  height: auto;
  max-height: 240px;
  margin-bottom: 20px;
}

#generatedName {
    font-size: 68px;
    text-align: center;
    display: inline-block;
}


/* Smalelr  screens never get screenshots box button */
@media only screen and (max-width: 1024px) {
  #screenshotsButton {
    display: none !important;
  }
  #takeScreenshotMain {
    display: none !important;
  }
}

/* Larger screens get smaller screenshots box */
@media only screen and (min-width: 1024px) {
  #screenshots {
      width: 20%;
      min-width: 300px;
  }
  #screenshotsButton {
    display: inline-block;
  }
  canvas {
    max-height: 150px;
  }
  #takeScreenshotMobile {
    display: none !important;
  }

  /* Don't display mobile only Options to desktop users */
  #opMobileSS {
    display: none;
  }
}

/* Larger screens get larger font */
/*
@media only screen and (min-width: 1024px) { #generatedName { font-size: 6rem; } } */

.generate, input.editButtons, #optionsFooterButtons input, #clearData, #takeScreenshotMain, #takeScreenshotFooter, #helpScreenshotOK, .addRemove {
  margin-top: 5px;
  font-size: 1.6rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: none;
  padding: 2px 6px !important;
  transition: background 0.5s;
  color: #eeeeee;
}

#helpScreenshotOK {
  font-size: 1.5rem;
}

#takeScreenshotMain img {
  max-height: 22px;
}

#takeScreenshotFooter {
  font-size: 1.2rem !important;
}
#takeScreenshotFooter img {
  max-height: 14px;
}

#takeScreenshotMobile {
  cursor: pointer;
}

.generate:hover, input.editButtons:hover, #optionsFooterButtons input:hover, #clearData:hover, helpScreenshotOK:hover, .addRemove:hover {
  background: rgba(0, 0, 0, 0.5);
}

#clearData, #optionsFooterButtons input {
  background: rgba(0, 0, 0, 0.3);
}

#clearData:hover, #optionsFooterButtons input:hover {
  background: rgba(0, 0, 0, 0.5);
}


input.lightTheme, #takeScreenshotMain.lightTheme, #takeScreenshotFooter.lightTheme, #screenshots.lightTheme, #footer.lightTheme {
  background: rgba(255, 255, 255, 0.6);
  color: #000000 !important;

}
input.lightTheme:hover, #takeScreenshot.lightTheme:hover, #takeScreenshotFooter.lightTheme:hover, #screenshots.lightTheme:hover, #footer.lightTheme:hover {
  background: rgba(255, 255, 255, 0.9) !important;
}
.lightTheme {
  color: #ffffff;
}
.lightTheme a {
  color: #000000 !important;
}


.addRemove {
  padding: 0px 10px !important;
  cursor: pointer;
}

#notification {
  width: 100%;
  left: 0;
  top: 0;
  border-bottom: 1px solid #000000;
  position: absolute;
  background: rgba(0, 0, 0, 0.65);
  color: #ffffff;
  z-index: 120;
}

#helpScreenshotNotif {
  padding: 2%;
}


#headerBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1.5rem;
  background: rgba(123, 141, 150, 0.8);
  padding: 5px 0px;
  margin: 0;
  color: #eeeeee;
  text-align: center;
}

/* Larger screens get smaller 'footer' */
@media only screen and (min-width: 1024px) {

  #headerBox a {
    color: #ffffff;
    text-decoration: none;
  }

  #headerBox a:hover {
    text-decoration: underline;
  }

}


#editFooter {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 1rem;
  border-radius: 10px;
  width: auto;
  padding: 5px 10px;
  color: #212121;
}

#editFooter input, #clearData, #optionsFooterButtons input {
  font-size: 1.2rem;
}

#footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1.2rem;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: auto;
  padding: 5px 10px;
  color: #eeeeee;
}

#footer a {
  color: #ffffff;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

.goldLink {
  color: #f4d84a !important;
}

textarea {
  border-radius: 5px;
  padding: 5px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  margin: 10px;
}
